<!DOCTYPE html>
<html ng-app="qTasksApp">
<head>
<title>QTasks</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<script src="public/js/angular.min.js"></script>
<script src="public/js/angular-resource.min.js"></script>
<script src="public/js/underscore-min.js" type="text/javascript"></script>
<script src="public/js/jquery.min.js"></script>
<script src="public/js/bootstrap.min.js"></script>
<script src="http://connect.facebook.net/en_US/all.js"></script>

<link href="public/css/bootstrap.min.css" rel="stylesheet" media="screen">

<style>
    body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
    }
</style>
<script>

var SIGNIN_TEMPLATE = "public/templates/signin.html";
var SIGNIN_PATH = "/signin";
var DASHBOARD_TEMPLATE = "public/templates/dashboard.html";
var DASHBOARD_PATH = "/dashboard";
var SETTINGS_TEMPLATE = "public/templates/settings.html";
var SETTINGS_PATH = "/settings";

var taskModule = angular.module('taskServices', ['ngResource'])
        .run(function ($rootScope, $location) {
            $rootScope.$on("$routeChangeStart", function (event, next, current) {
                if ($rootScope.oauthToken == null) {
                    if (!(next.templateUrl == SIGNIN_TEMPLATE)) {
                        $location.path(SIGNIN_PATH);
                    }
                }
            })
        });

var qTasksApp = angular.module('qTasksApp', ['taskServices'],function ($routeProvider) {
    $routeProvider
            .when(SIGNIN_PATH, {templateUrl: SIGNIN_TEMPLATE, controller: FacebookSigninController})
            .when(DASHBOARD_PATH, {templateUrl: DASHBOARD_TEMPLATE, controller: DashboardController})
            .when(SETTINGS_PATH, {templateUrl: SETTINGS_TEMPLATE, controller: SettingsController})
            .otherwise({redirectTo: SIGNIN_PATH});

}).filter('exactProjectFilter', function () {
            return function (tasks, desiredProject) {
                if (desiredProject == "") return tasks; // all tasks requested
                var matched = [];
                angular.forEach(tasks, function(task)
                {
                    if (task.project == desiredProject)
                    {
                        matched.push(task);
                    }
                });
                return matched;
            }
        });


function FacebookSigninController($scope, $location, $rootScope) {

    $scope.$on('$viewContentLoaded', function () {
        if ($rootScope.fbInitCalled == null) {

            FB.init({
                appId: '530788920290681', // App ID from the App Dashboard
                channelUrl: 'http://localhost:3000/channel.html', // Channel File for x-domain communication
                status: true, // check the login status upon init?
                cookie: true, // set sessions cookies to allow your server to access the session?
                xfbml: true,  // parse XFBML tags on this page?
                oauth: true
            });

            $rootScope.fbInitCalled = true;
        }

        // auto sign in?
        FB.getLoginStatus(function (response) {
            console.log("Connection status: " + response.status);
            if (response.status === 'connected') {
                $scope.setLoginDetails();
            }
            console.log("Token: " + $rootScope.oauthToken);
        });

    });

    $scope.signIn = function () {

        console.log("Sign in function called.");

        FB.getLoginStatus(function (response) {
            console.log(response.status);
            if (response.status === 'connected') {
                $scope.setLoginDetails();
            }
            else if (response.status == 'not_authorized') {
                // set message to say need authorization
            }
            else {
                // do login
                FB.login(function (response) {
                    if (response.authResponse) {
                        console.log("Logged in.  Fetching your information.");
                        $scope.setLoginDetails();
                    }
                });
            }
        });
    }

    $scope.setLoginDetails = function () {
        FB.getLoginStatus(function (response) {
            if (response.status === 'connected') {

                $rootScope.oauthToken = response.authResponse.accessToken;
                console.log("Now obtaining long lived token...")

                $.ajax("/api/utils/tokenexchange/" + $rootScope.oauthToken)
                        .done(function (llToken) {
                            console.log("Long lived token: " + llToken);
                            $rootScope.oauthToken = llToken;

                            FB.api('/me', function (response) {
                                $rootScope.name = response.name;
                                $location.path(DASHBOARD_PATH);
                                $scope.$apply();
                            });

                        });
            }
        });
    }

    $scope.signOut = function () {
        console.log("signing out!");

        FB.logout(function () {
            $rootScope.oauthToken = null;
            $location.path(SIGNIN_PATH);
            $scope.$apply();
        });
    }

    $scope.isSignedIn = function () {
        return $rootScope.oauthToken != null;
    }
}

function SettingsController($scope) {

}


function DashboardController($scope, $resource, $rootScope) {

    var Task = $resource('/api/tasks/:taskId', {}, {
        query: { method: 'GET', params: {}, isArray: true, headers: {Authorization: 'Bearer ' + $rootScope.oauthToken}},
        save: { method: 'POST', params: {}, isArray: false, headers: {Authorization: 'Bearer ' + $rootScope.oauthToken}},
        update: { method: 'PUT', params: {}, isArray: false, headers: {Authorization: 'Bearer ' + $rootScope.oauthToken}},
        delete: {method: 'DELETE', params: {}, isArray: false, headers: {Authorization: 'Bearer ' + $rootScope.oauthToken}}
    });

    $scope.$on('$viewContentLoaded', function () {
        console.log("view content is ready!");

        $('#taskModal').on('shown', function (data) {
            $(data.target).find("[autofocus]:first").focus();
            // dynamically construct the project and context list
            $(data.target).find('#inputProject').typeahead({data: 'typeahead', source: $scope.projects(), updater: function (item) {
                $scope.selectedTask.project = item;
                return item;
            }});
            $(data.target).find('#inputContext').typeahead({data: 'typeahead', source: $scope.contexts(), updater: function (item) {
                $scope.selectedTask.context = item;
                return item;
            }});
        });

        function keyPressed(e) {
            // ignore keypresses if the new task modal is shown
            if ($('#taskModal').data('modal')) {
                if ($('#taskModal').data('modal').isShown) return;
            }

            if (e.ctrlKey) {
                switch (e.keyCode) {
                    case 78:
                        $('#new-task-button').click();
                        break;
                    case 84:
                        $('#this-week-button').click();
                        break;
                    default :
                        break;
                }
            }
        }

        document.addEventListener('keyup', keyPressed, false);

        $scope.setProjectFilter("");
    });

    // Here's the right call...
    // https://graph.facebook.com/oauth/access_token?client_id=530788920290681&client_secret=028aeeb8614e458a23043a2dfd8bef52&grant_type=fb_exchange_token&fb_exchange_token=CAAHivZB0LbXkBAMMvLJryac8ZAZCYx6CDciBxVX4BqHeLwQKMyZAoImMeYYQb7ZA5lxKfvkrOP4jz0vQNEivZAAucnKn8shEr6E7ULBvWwH99KQBhuboRNbIKDvMs9bBvSd8jgdGNmZC9BzgNSDuwBw4mS9wR6r73tRCsUCsTTaowZDZD

    /*$scope.obtainNewToken = function (callback) {
     FB.getLoginStatus(function (response) {
     if (response.status === 'connected') {
     $rootScope.oauthToken = response.authResponse.accessToken;
     console.log("obtained new token: "+$rootScope.oauthToken);
     callback();
     }
     });
     }*/

    $scope.showExpiredModal = function () {
        $('#expiredModal').modal();
    }

    $scope.tasks = Task.query(function () {
        $scope.updateCachedTasks();
    }, function (error) {
        if (error.status == 401) {
            $scope.showExpiredModal();
        }
    });


    $scope.selectTask = function (id) {
        console.log("Selected task: " + id);
        $scope.selectedTask = _.where($scope.tasks, {_id: id})[0];
        $('#taskModal').modal();
    }

    $scope.saveCurrentTask = function () {
        $scope.updateCachedTasks();
        console.log("will be saving current task now");
        if ($scope.selectedTask._id == null) {
            // new task
            Task.save({}, $scope.selectedTask, function (data) {
                console.log(data);
                $scope.tasks.push(data);
                $scope.updateCachedTasks();
            }, function (error) {
                if (error.status == 401) {
                    $scope.showExpiredModal();
                }
            });
        }
        else {
            // update existing task
            Task.update({taskId: $scope.selectedTask._id}, $scope.selectedTask, function (data) {
                console.log("saved");
                $scope.updateCachedTasks();
            }, function (error) {
                if (error.status == 401) {
                    $scope.showExpiredModal();
                }
            });
        }
    }

    $scope.revertToCachedTasks = function () {
        console.log("reverting to cached tasks");
        $scope.tasks = angular.copy($scope.cachedTasks);
    }

    $scope.updateCachedTasks = function () {
        console.log("updating cached tasks");
        $scope.cachedTasks = angular.copy($scope.tasks);
    }

    $scope.newTask = function () {
        $scope.selectedTask = new Task();
        $scope.selectedTask.thisweek = false;  // default values
        $scope.selectedTask.project = $scope.projectFilter.project;
        $scope.selectedTask.context = $scope.contextFilter.context;
        $('#taskModal').modal('show');
    }

    $scope.showCompleteDialog = function (id) {
        $scope.selectedTask = _.where($scope.tasks, {_id: id})[0];
        $('#deleteTaskModal').modal();
    }

    $scope.completeTask = function (id) {
        console.log("completing task " + id);
        $scope.tbdTask = _.where($scope.tasks, {_id: id})[0];

        Task.delete({taskId: id}, function () {
            $scope.tasks = _.without($scope.tasks, $scope.tbdTask);
        });
    }

    $scope.clearSearch = function () {
        $scope.searchText = "";
    }


    var uniqueValues = function (key) {
        return _.chain($scope.tasks).sortBy(key).pluck(key).uniq().without('').value();
    }

    // Scope for projects
    $scope.projects = function () {
        return uniqueValues('project');
    }
    $scope.projectFilter = {};
    $scope.setProjectFilter = function (passedProject) {
        $scope.projectFilter = passedProject;
    }

    // Scope for contexts
    $scope.contexts = function () {
        return uniqueValues('context');
    }
    $scope.contextFilter = {};
    $scope.setContextFilter = function (passedContext) {
        $scope.contextFilter = {context: passedContext};
    }

    // Scope for thisweek flag
    $scope.thisweeks = function () {
        return uniqueValues('thisweek');
    }
    $scope.thisweekFilter = {thisweek: false};
    $scope.toggleThisweekFilter = function () {
        $scope.thisweekFilter.thisweek = !($scope.thisweekFilter.thisweek);
    }
}

</script>
</head>
<body>
<div id="fb-root"></div>

<div class="container" ng-controller="FacebookSigninController">

    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="brand" href="#/dashboard">QTasks</a>

                <div class="nav-collapse collapse">
                    <ul class="nav">
                        <li class="active"><a href="#/dashboard">Dashboard</a></li>
                        <li><a href="#/settings">Settings</a></li>
                        <li class="dropdown" ng-show="isSignedIn()">
                            <a class="dropdown-toggle" data-toggle="dropdown" ng-model="rootScope">{{name}}<b
                                    class="caret"></b>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a ng-click="signOut()">Sign Out</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <!-- Confirm delete modal -->
    <div id="expiredModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-header">
            <h3>Session Expired</h3>
        </div>
        <div class="modal-body">
            <p>You've been automatically logged out due to inactivity. Click the sign in button to re-sign in to the
                application.</p>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" data-dismiss="modal" ng-click="signIn()">Sign in</button>
        </div>
    </div>
</div>


<div class="container">
    <ng-view></ng-view>
</div>


</body>
</html>
