<div class="row">
    <div class="span2">
        <ul class="nav nav-pills nav-stacked">
            <li>Projects</li>
            <li class="active"><a data-toggle="tab" ng-click="setProjectFilter('')">All</a></li>
            <li ng-repeat="project in projects()"><a data-toggle="tab"
                                                     ng-click="setProjectFilter(project)">{{project}}</a></li>
        </ul>

        <!--<ul class="nav nav-pills nav-stacked">-->
            <!--<li>This week</li>-->
            <!--<li class="active"><a data-toggle="tab" ng-click="toggleThisweekFilter('')">All</a></li>-->
            <!--<li ng-repeat="thisweek in thisweeks()"><a data-toggle="tab"-->
                                                       <!--ng-click="toggleThisweekFilter(thisweek)">{{thisweek}}</a></li>-->
        <!--</ul>-->
    </div>
    <div class="span8">
        <div id="header">
            <div class="row">
                <div class="span8">
                    <input type="text" placeholder="Search Tasks" ng-model="searchText">
                </div>
                <div class="span2 text-right">
                    <button class="btn btn-primary" ng-click="newTask()">Create New Task</button>
                </div>
            </div>
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>Description</th>
                    <th>Project</th>
                    <th>Context</th>
                    <th><button class="btn btn-mini btn-primary" data-toggle="button" ng-click="toggleThisweekFilter()">TW</button></th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="task in tasks | orderBy:'description':false | filter:projectFilter | filter:contextFilter | filter:thisweekFilter | filter:searchText">
                    <td ng-click="selectTask(task._id)">
                        {{task.description}}
                    </td>
                    <td ng-click="selectTask(task._id)">
                        {{task.project}}
                    </td>
                    <td ng-click="selectTask(task._id)">
                        {{task.context}}
                    </td>
                    <td ng-click="selectTask(task._id)">
                        {{task.thisweek}}
                    </td>
                    <td>
                        <button class="btn btn-success btn-mini" ng-click="showCompleteDialog(task._id)"><i
                                class="icon-white icon-ok"></i></button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

    </div>
    <div class="span2">
        <ul class="nav nav-pills nav-stacked">
            <li>Context</li>
            <li class="active"><a data-toggle="tab" ng-click="setContextFilter('')">All</a></li>
            <li ng-repeat="context in contexts()"><a data-toggle="tab"
                                                     ng-click="setContextFilter(context)">{{context}}</a></li>
        </ul>
    </div>
</div>
<!-- Task Details Modal -->
<div id="taskModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="revertToCachedTasks()">×
        </button>
        <h3 id="myModalLabel">{{selectedTask.description}}</h3>
    </div>
    <form class="form-horizontal">
        <div class="modal-body">
            <div class="control-group">
                <label class="control-label" for="inputDescription">Description</label>

                <div class="controls">
                    <input type="text" id="inputDescription" placeholder="Description"
                           ng-model="selectedTask.description"
                           value="{{selectedTask.description}}"
                           autofocus>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="inputBody">Body</label>

                <div class="controls">
                    <input type="text" id="inputBody" placeholder="Body"
                           ng-model="selectedTask.body"
                           value="{{selectedTask.body}}">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="inputProject">Project</label>

                <div class="controls">
                    <input type="text" id="inputProject" placeholder="Project"
                           ng-model="selectedTask.project"
                           value="{{selectedTask.project}}"
                           data-provide="typeahead">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="inputContext">Context</label>

                <div class="controls">
                    <input type="text" id="inputContext" placeholder="Context"
                           ng-model="selectedTask.context"
                           value="{{selectedTask.context}}"
                           data-provide="typeahead">
                </div>
            </div>
            <div class="control-group">
                <div class="controls">
                    <label class="checkbox">
                        <input type="checkbox" ng-checked="selectedTask.thisweek"
                               ng-model="selectedTask.thisweek">Due
                        this week?</label>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" data-dismiss="modal" ng-click="saveCurrentTask()" value="Submit">Save
                changes
            </button>
        </div>
    </form>
</div>
<!-- Confirm delete modal -->
<div id="deleteTaskModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3>Complete <i>{{selectedTask.description}}</i>?</h3>
    </div>
    <div class="modal-body">
        <p>You are about to complete the <i>'{{selectedTask.description}}'</i> task.</p>

        <p>Do you want to proceed?</p>
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">No</button>
        <button class="btn btn-primary" data-dismiss="modal" ng-click="completeTask(selectedTask._id)">Yes</button>
    </div>
</div>